body {
    margin: 60px auto;
    width: 70%;
}

.menu {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 8px;
  padding: 0
}

.menu li {
  display: inline-block;
  padding: 0 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}

.menu a:hover {
  text-decoration: underline;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


.header-img {
  width: 150%;
  height: 400px;
  background: url('http://www.kodhus.com/freecourse-images/header-image.jpg');
  background-size: cover;
}
section {
  padding: 40px 120px;
}
section#about img {
  float: left;
}
section#about .content {
  margin-left: 220px;
}
